<div><h2>Positive tabindex Value Detected</h2>
<p>Elements with positive tabindex values cause the order in which elements appear in the browser's tab order to diverge from DOM order.
Screen reader's reading commands read elements in DOM order; using positive tabindex values thus causes the browser's tab (nextElement) command to present different results than the screen reader's (nextElement) command.
</p></div>
